kubeProxyReplacement: true

ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList: []  # overridden per cluster

operator:
  replicas: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi
