hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
    service:
      type: NodePort
      nodePort: 31235
  metrics:
    enabled:
      - dns
      - drop
      - tcp
      - flow
      - icmp
      - http
